﻿@model FizzBuzz.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "FizzBuzz";
}

<h2>FizzBuzz</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Number)
    @Html.EditorFor(m => m.Number)
    @Html.ValidationMessageFor(m => m.Number)
    <input type="submit" value="Check" />
}
<table>
    <thead>
        <tr>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.Result != null)
        {
            foreach (var item in Model.Result)
            {
                <tr>
                    <td>

                        @if (item == "Fizz")
                        {
                            <div style="color:blue">@item</div>
                        }
                        else if (item == "Buzz")
                        {
                            <div style="color:green">@item</div>
                        }
                        else
                        {
                            <div>@item</div>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>

</table>
